<!-- Navbar -->
<div class="flex items-center justify-between border-2 bg-white shadow-md">

    <div>
        <img src="logo.png" alt="" class="w-24 h-24">
    </div>

    <!-- target home -->
    <div class="hidden md:flex gap-4">
        <button (click)="irParaHome()" class="bg-white text-blue px-4 py-2 rounded-md hover:bg-white mr-2">
            <b>Reservou</b>
        </button>
    </div>

    <!-- btn -->
    <div class="hidden md:block">
        <button (click)="irParaHome()" class="bg-blue text-white px-4 py-2 rounded-md hover:bg-azure mr-2">
            Home
        </button>
    </div>

    <!-- icon primeng -->
    <div class="md:hidden">
        <button (click)="toggleMenu()" class="text-gray-700 text-2xl mr-2">
            <i class="pi pi-bars"></i>
        </button>
    </div>
</div>

<!-- btn Mobile -->
<div *ngIf="menuAberto" class="md:hidden flex flex-col items-end gap-4 bg-white p-4 border-t">

    <button (click)="irParaHome()" class="bg-blue text-white px-4 py-2 rounded-md hover:bg-azure">
        Home
    </button>

</div>
