<footer id="footer"  class="text-gray-700 py-8 border-2">
    <div class="container mx-auto px-6 lg:px-12">
        <div class="flex flex-col md:flex-row justify-center items-center md:items-start text-center md:text-left space-y-6 md:space-y-0">
            
            <!-- Logo e Descrição -->
            <div class="md:w-1/4 md:flex flex-col justify-start ">
                <h3 class="text-azure text-lg font-medium">Seu App</h3>
                <img src="logo.png" alt="" class="w-28 h-28">
                <p class="text-sm text-gray-600">Facilitando sua reserva com praticidade e segurança.</p>
            </div>
  
            <!-- Links Úteis -->
            <div class="md:w-1/4">
                <h3 class="text-azure text-lg font-medium">Links Rápidos</h3>
                <ul class="mt-2 space-y-2">
                    <li><a href="#" class="hover:text-blue-500 transition">Sobre Nós</a></li>
                    <li><a href="#" class="hover:text-blue-500 transition">Política de Privacidade</a></li>
                    <li><a href="#" class="hover:text-blue-500 transition">Termos de Uso</a></li>
                </ul>
            </div>
  
            <!-- Contato -->
            <div class="md:w-1/4 md:flex flex-col justify-center">
                <h3 class="text-azure text-lg font-medium">Contato</h3>
                <p class="text-sm text-gray-600 mt-2">
                    <i class="pi pi-map-marker text-blue-500 mr-2"></i> Rua Exemplo, 123 - São Paulo, SP
                </p>
                <p class="text-sm text-gray-600">
                    <i class="pi pi-phone text-blue-500 mr-2"></i> (11) 99999-9999
                </p>
            </div>
  
            <!-- Redes Sociais -->
            <div class="flex space-x-4 md:w-1/4 justify-center md:justify-center ">
                <a href="#" class="text-azure hover:text-blue transition">
                    <i class="pi pi-facebook text-2xl"></i>
                </a>
                <a href="#" class="text-azure hover:text-red transition">
                    <i class="pi pi-instagram text-2xl"></i>
                </a>
                <a href="#" class="text-azure hover:text-gray-600 transition">
                    <i class="pi pi-twitter text-2xl"></i>
                </a>
            </div>
  
        </div>
  
        <!-- Linha divisória -->
        <div class="border-t border-gray-300 mt-6 pt-4 text-center text-sm text-gray-600">
            &copy; 2025 Reservou. Todos os direitos reservados.
        </div>
    </div>
  </footer>
  